* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.grid-layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: #1a92d3;
  grid-row: 1 / 3;
}

.header {
  background-color: #ffffff;
}

.main-content {
  background-color: #e2e8f0;
}
/* .main-container {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr 1fr;
} */

/* .sidebar {
  background-color: #1a92d3;
  min-width: 320px;

  display: grid;

  grid-template-rows: 75px 150px 150px;
} */

/* .sidebar > .first-component {
  width: auto;
 
} */

/* .sidebar > .second-component {
  width: auto;
  
} */

/* .sidebar > .third-component {
  width: auto;

} */

/* .main-content {
  background-color: rgb(148, 127, 255);
  min-width: 981px;
} */
